/* Declare fonts */
@font-face {
    font-family: 'Vollkorn'; 
    src: url('fonts/Vollkorn/Vollkorn-Regular.woff');
}

@font-face {
    font-family: 'Lato'; 
    src: url('fonts/Lato/Lato-Regular.woff');
}

/* Main Header - Phone */
@media all and (max-width: 420px) {
	.site-header {
		font-size: 1.5em;
		background: no-repeat center url("images/header/wall-phone.jpg") black;
	}
}

/* Main Header - Tablet */
@media all and (min-width: 420px) {
	.site-header {
		font-size: 2em;
		background: no-repeat center url("images/header/wall-tablet.jpg") black;
	}
}

/* Main Header - Desktop */
@media all and (min-width: 840px) {
	.site-header {
		font-size: 3em;
		background: no-repeat center url("images/header/wall-desktop.jpg") black;
	}
}

/* Layout & style header */
.site-header {
	color: white;
	font-family: Lato, Arial, sans-serif;
	padding-bottom: .6em;
	padding-top: .6em;
	text-align: center;
	text-shadow: 1px 1px rgba(128, 128, 128, 0.3);
}

.site-header a {
	color: white;
	text-decoration: none;
}

/* Images */
img {
	max-width: 720px;
}

.inline-image {
	float: left;
	padding-right: 12px;
}

/*Scale based on device size*/
@media all and (max-width: 420px) {
	.post-header-img {
		width: 100%;
	}
	
	.responsive-img {
		width: 100%;
	}
}

@media all and (min-width: 420px) {
	.post-header-img {
		width: 100%;
	}
	
	.responsive-img {
		width: 100%;
	}
}

/* Remove edge of page margin */
body {
	background-color: #f4f4f4;
	margin: 0px;
	color: #232323;
}

/* Layout & style body */
.content {
	font-family: Vollkorn, Georgia, serif;
	margin: auto;
	max-width: 720px;
	padding: 10px;
	font-size: 1.1em;
	line-height: 1.5em;
}

.content p {
	margin-bottom: 24px;
}

.content a {
	color: black;
	text-decoration: none;
	border-bottom: 1px solid #00aacc;
}

.content a:hover {
	color: #00aacc;
}

.content .img-link {
	border-bottom: none;
}

/* Post heading text effect */
.post-header h2 {
	font-family: Lato, Arial, sans-serif;
	font-size: 1.6em;
	font-weight: bold;
	overflow: hidden;
	text-align: center;
	margin-bottom: 0px;
}

.post-header h2 a {
	color: black;
	text-decoration: none;
	padding: 10px;
}

.post-sub-header {
	font-size: 0.75em;
	text-align: center;
	margin: auto;
}

.post-header-lineimg-l {
	float: left;
	margin-top: 10px;
	margin-right: -10px;
}

.post-header-lineimg-r {
	float: right;
	margin-top: 10px;
	margin-left: -10px;
}

/* : for IE 8 */
.post-header h2:before,
.post-header h2:after {
	margin: 12px;
    background-color: #d3d3d3;
    content: "";
    display: inline-block;
    height: 1px;
    vertical-align: middle;
    width: 40%;
}

.post-header h2:before {
    margin-left: -50%;
}

.post-header h2:after {
    margin-right: -50%;
}

/* Layout & style footer */
.footer-text {
	color: #d3d3d3;
	text-align: center;
	margin: 0em;
}

.footer-icon {
	font-size: 2em;
	margin: 0em;
}

footer {
	margin-top: 4em;
	margin-bottom: 4em;
}