/* Declare fonts */
@font-face {
    font-family: 'Vollkorn'; 
    src: url('fonts/Vollkorn/Vollkorn-Regular.woff');
}

@font-face {
    font-family: 'Lato'; 
    src: url('fonts/Lato/Lato-Regular.woff');
}

/* Main Header - Phone */
@media all and (max-width: 420px) {
	.site-header {
		font-size: 1em;
		background: no-repeat center url("images/header/wall-phone.jpg") black;
	}
}

/* Main Header - Tablet */
@media all and (min-width: 420px) {
	.site-header {
		font-size: 2em;
		background: no-repeat center url("images/header/wall-tablet.jpg") black;
	}
}

/* Main Header - Desktop */
@media all and (min-width: 840px) {
	.site-header {
		font-size: 3em;
		background: no-repeat center url("images/header/wall-desktop.jpg") black;
	}
}

/* Layout & style header */
.site-header {
	color: white;
	font-family: Vollkorn, Georgia, serif;
	padding-bottom: .6em;
	padding-top: .6em;
	text-align: center;
	text-shadow: 2px 2px rgba(128, 128, 128, 0.3);
}

.site-header a {
	color: white;
	text-decoration: none;
}

/* Remove edge of page margin */
body {
	background-color: #faf9f4;
	margin: 0px;
}

/* Layout & style body */
.content {
	font-family: Lato, Arial, sans-serif;
	margin: auto;
	max-width: 680px;
	padding: 10px;
}

.post-header h2 {
	font-size: 26px;
	font-weight: bold;
	overflow: hidden;
	text-align: center;
}

/* Post heading text effect */
.post-header h2 {
	border-right: 1px solid #e2e7ea;
	border-left: 1px solid #e2e7ea;
}

/* : for IE 8 */
.post-header h2:before,
.post-header h2:after {
	margin: 12px;
    background-color: #d3d3d3;
    content: "";
    display: inline-block;
    height: 1px;
    vertical-align: middle;
    width: 50%;
}

.post-header h2:before {
    margin-left: -50%;
}

.post-header h2:after {
    margin-right: -50%;
}

/* Layout & style footer */
.footer-icon {
	color: #d3d3d3;
	font-size: 1.6em;
	text-align: center;
}

footer {
	margin-top: 3em;
}
footer p {
	margin-top: 2em;
}